@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap');

.font{
  font-family: 'DM Sans', sans-serif;
 }

.buttons {
    border-radius: 8px; 
    background-color: black;
    text-decoration: aliceblue;
    width: 50px;
    height: 40px;
  }
  
