@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@200&display=swap');
.font{
  font-family: 'DM Sans', sans-serif;
 }
.second-font{
   font-family: 'Sarabun', sans-serif;
   font-size:large;
}

.p-relative{
   position: relative;
   top: 10px;
   right: 15px;
}
.table-collapse {
   border-collapse: separate;
   border-color: black;
   border-spacing: 0 10px;
 }
 .t-decoration{
   color: #000;
    text-decoration: none;
  }
  .btn-full{
   width:200px;
   height:80px ;
  }
 
  
